@charset "UTF-8";
/* CSS Document */

/*
動画講義を収録した後に、ウェブフォント「NotoSansCJKjp-Regular」の配信が終了しました。
このためフォントの読み込みに関するエラーが発生します。
*/
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans CJK JP"),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.otf) format('opentype');
}
html{
  font-size: 62.5%; /* 16px x 62.5% = 10px */
}
body{
  color: #333;
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  font-size: 1.6rem;
  line-height: 1.85;
  font-feature-settings: "palt";
  letter-spacing: 0.05em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img{
  max-width: 100%;
  height: auto;
}

.text-center{
  text-align: center;
}
.pc__img{

}
.sp__img{
  display: none;  
}

/*-----------------------
 *
 * header
 *
------------------------*/
.header{
  position: relative;
  height: 600px;
  background-image: url(../images/header/kv_img.jpg);
  background-size: cover;
}

.header-catch{
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-45%);
  background-color: rgba(7,133,123,0.68);  
}

.header .logo{
  display: block;
  padding: 32px 0;
}

.site-title{
  padding-bottom: 40px;
}

/*-----------------------
 *
 * section
 *
------------------------*/

.inner{
  max-width: 750px;
  margin: 0 auto;
  padding: 80px 0 140px;
}

.inner-b{
  padding-bottom: 64px;
}

.section-title{
  padding: 16px 0;
  background-color: #454848;
  color: #fff;
  font-size: 3.6rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.section-title__green{
  background-color: #07857b;
}

/*-----------------------
 *
 * guest
 *
------------------------*/
.guest-name{
  margin-bottom: 60px;
  font-size: 1.8rem;
  font-weight: bold;
}

/*-----------------------
 *
 * schedule
 *
------------------------*/
.schedule-list{
  display: -webkit-flex;
  display: flex;
  flex-wrap: -webkit-wrap;
  flex-wrap: wrap;
}

.schedule-time{
  flex-shrink: 0;
}

.schedule-detail{
  flex-grow: 1;
}

/*-----------------------
 *
 * access
 *
------------------------*/
.maps-outer{
  position: relative;
  padding-top: 26.25%;
}

.maps{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*-----------------------
 *
 * entry
 *
------------------------*/
.info-title{
  font-weight: bold;
}
.info-detail{
  margin-bottom: 40px;
}
.info-detail:last-of-type{
  margin-bottom: 120px;
}

.form{
  max-width: 550px;
  margin: 0 auto;
}
.form-item{
  margin-bottom: 72px;
}
.form-item__radio{
  display: flex;
  display: -webkit-flex;
}
.form-parts{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: 8px 0;
  border: none;
  border-bottom: solid 1px #999;
  font-size: 1.6rem;
  outline: none;
}
.btn{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 360px;
  margin: 0 auto;
  padding: 20px 0;
  border: none;
  background-color: #07857b;
  color: #fff;
  font-size: 2.4rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.form-title{
  margin-right: 36px;
}
.label-radio{
  margin-right: 36px;
}
.form-parts__radio{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #c3c3c3;
  vertical-align: -6px;
  outline: none;
}
.form-parts__radio:checked{
  background-color: #07857b;
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px #07857b;
}

/*-----------------------
 *
 * footer
 *
------------------------*/
.footer{
  padding: 80px 0;
  background-color: #454548;
  color: #fff;
}
.footer .logo{
  margin-bottom: 32px;
}
.footer-text{
  margin-bottom: 64px;
}
.br-footer{
  display: none;
}

@media screen and (max-width: 768px){
  /*-----------------------
  *
  * header
  *
  ------------------------*/
  .header{
    height: 300px;
    background-image: url(../images/header/kv_img__sp.jpg);
  }
  .header .logo{
    width: 50px;
    margin: auto;
    padding: 16px 0;
  }
  .site-title{
    width: 83.2%;
    margin: auto;
    padding-bottom: 16px;
  }
  .pc__img{
    display: none;
  }
  .sp__img{
    display: inline;
  }
  /*-----------------------
  *
  * section
  *
  ------------------------*/
  .section-title{
    padding: 16px 0;
    font-size: 2rem;
    line-height: 1;
  }
  .inner{
    padding: 40px 20px 70px;
  }
  .inner-b{
    padding-bottom: 40px;
  }
  /*-----------------------
  *
  * guest
  *
  ------------------------*/
  .guest-name{
    margin-bottom: 40px;
  }
  .name{
    display: block;
  }
  /*-----------------------
  *
  * access
  *
  ------------------------*/
  .maps-outer{
    padding-top: 66.7%;
  }
  /*-----------------------
  *
  * entry
  *
  ------------------------*/
  .info-detail:last-of-type{
    margin-bottom: 32px;
  }
  .form-item{
    margin-bottom: 40px;
  }
  .form-item:last-of-type{
    margin-bottom: 56px;
  }
  .form-item__radio{
    display: block;
  }
  .form-title{
    display: block;
    margin-right: 0;
    margin-bottom: 24px;
  }
  .label-area{
    display: flex;
    display: -webkit-flex;
  }
  .label-radio{
    box-sizing: border-box;
    display: block;
    /* width: 33.333%; */
    margin-left: 0;
    margin-right: 0;
    padding-right: 20px
  }
  .btn{
    width: 100%;
    margin-bottom: 6px;
    padding: 12px 0;
  }
  /*-----------------------
  *
  * footer
  *
  ------------------------*/
  .footer{
    padding: 40px 0;
  }
  .footer-text{
    margin-bottom: 32px;
  }
  .br-footer{
    display: block;
  }
}